.row-header{
    margin:0px auto;
    padding:0px auto;

}

.head{
    color:#04030f !important; 
}

.App{
    background-color: #e7e393;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.cardrend{
    background-color:   #FEF7E7 !important;
    border-radius: 5px !important;
}
.footer{
    background-color: #f4c95d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
#jumbotron{
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background-color:#f4c95d ;
    color:#04030f;
}

address{
    font-size:80%;
    margin:0px;
    color:#04030f;
}

.navbar-dark {
    background-color: #dd7230;
    color:#04030f;
}
.headtext{
    color: #04030f !important;
}
.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}
